In [1]:
import pandas as pd

In [4]:
train = pd.read_csv('train.tsv', sep='\t')

In [10]:
train_small = pd.read_csv('test.tsv', sep='\t')

In [5]:
train.head()

          en         ru
0      falla      фалья
1    gnohere    гнохере
2  yoritoshi  мацудаира
3    ekeberg    экеберг
4  tachihara   татихара

In [11]:
train_small['en'].str.len().max()

21